
<html>
<head>
  </head>
  <body>

<center>
<%# raise params.inspect %>

<%= form_for [@category , @post]  do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br><br>
    <%= f.text_field :title , :placeholder=>'Enter the Title' , required: true %>
  </div><br>
  <div class="field">
    <%= f.label :description %><br><br>
    <%= f.text_area :description , :placeholder=>'Enter the Description' , required: true %>

  </div><br>
  <div class= "field">
      <%= f.label "Category" %><br><br>
      <%= f.collection_select(:category_id , Category.all, :id, :title,  :id => "options"  , prompt: true ) %><br><br>


    <div>

  <div class= "field">

    <%= fields_for(@post_tag) do |ab| %>
<%= ab.label "All Tag" %><br/><br>
<%= collection_select(:tags, :id , @all_tags , :id, :tag_title , {:required => true} , {:multiple => true}) %>
<% end %>
    
  </div><br>


  <div class="field">
    <%= f.label :image %><br><br>
    <%= f.file_field :image , :placeholder=>'Select Image' , required: true %>

  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</center>
</body>
</html>
