<html>
<head>
  </head>
  <body>

<center>

 <%= link_to "Category", categories_path  %> || 
  <%= link_to "Tags", tags_path  %>
<h1>Listing posts</h1>

<table border="2" cellpadding="10" cellspacing="0" class="listing" summary="Post list" border=2>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
       <th>Category</th>
        <th>Comment</th>

      <th>Show Comments</th>
      <th>Destroy Post</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
       <td><%= link_to post.category.title  , rahulcategory_post_path(post.category_id) rescue "" %></td>


        <td><%= link_to 'Comment', post %></td>

        <td> <%= link_to "Show Comments",  post_comments_path(post)   %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_post_path %> <br><br>

  <table border="2" cellpadding="10" cellspacing="0" class="listing" summary="Post list" border=2>
  <thead>
    <tr>
      <th>Title</th> 
      <th>Total Posts</th> 
      <th>Total Comments</th> 
    </tr>
  </thead>
    <tr>

      <% @categories.each do |c| %>

      <td>
            <%=link_to c.title , rahulcategory_post_path(c.id) rescue ""  %>
     </td>
     <td>
            <%= c.posts.count(:category_id) %>
     </td>

     <td>
              <%total_comment = 0 %>
              <% @cpost = c.posts %>
              <% @cpost.each do |cp| %>

            <% total_c=cp.comments.count(:post_id) %>
            <% total_comment =total_comment + total_c  %>
            <% end %>
             <%= total_comment %>
     </td>

    </tr>
    <% end %>
</table>




<%############################## Show Post ####################################%>

 <% @posts.each do |post| %>
   
  <div id="showpost">
    <%= post.user.email %>
<% if user_signed_in?  %>
      <%if post.user.id == current_user.id  %>

   <%= link_to 'Post Delete', post, method: :delete, data: { confirm: 'Are you sure?' }  rescue "" %>

      <% end %>
      <% end %>
     <p id ="showtitle">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= post.title %></p>
     <p id="showdescription"><%= post.description %></p>
     
         
            <p id= "catid"> Category:-<%= post.category.title %> </p>


              <p id="tagid" > Tags:- <% post.tags.each do |tag| %>
              <%= tag.tag_title %> ,
          <% end %></p>

     
      <% @com=post.comments %>
        
     
     <% @com.each do |c| %>
      <p id ="commentid">  <%= link_to 'x', c, method: :delete, data: { confirm: 'Are you sure?' } %> <%= c.user.email %>:- <%= c.comment_string %><br></p>
     <% end %>
      <%#= render :partial => @post %>
      <%#= render :partial => @post %>

      <%#= render 'comments/form' %>


       <%= form_for @comment , url: comments_path , method: 'post' do |f| %>
    <%= f.label "Comment" %>
    <%= f.text_area :comment_string , :placeholder=>'Enter the Comment' , required: true , :id => "comment" %><br><br>
    <%= f.hidden_field :post_id , value: post.id %>


    
      

    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<%= f.submit "Comment" %><br><br>
      <% end %>


  </div>
   <% end %>

<%##################################################################%>





</center>
</body>
</html>

