<html>
<body>
<center>

   
  <div id="showpost">
    <%# raise @post.inspect %>
    Posted by:-<%= @post.user.email %>
<% if user_signed_in?  %>

      <% if @post.user.id == current_user.id  %>


   <%= link_to 'Post Delete', category_post_path(@post.category_id , @post), method: :delete, data: { confirm: 'Are you sure?' }  rescue "" %>

      <% end %>
      <% end %>
      <%= image_tag @post.image.url(:medium) %> 
     <p id ="showtitle"> <font size = "7" ><%= @post.title.capitalize %></font></p>
     <p id="showdescription"><%= @post.description %></p>
     
         
            <p id= "catid"> Category:-<%= @post.category.title %> </p>


              <p id="tagid" > Tags:- <% @post.tags.each do |tag| %>
              <%=link_to tag.tag_title , category_tag_path( @post.category , tag ) %> ,
          <% end %></p>

          <p id="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago </p>
      <% @com=@post.comments %>
        
     
     <% @com.each do |c| %>
      <% if user_signed_in? %>
      <% if c.user.id == current_user.id %>

        <%#= link_to '-', edit_category_post_comment_path(@post.category , @post, c ) %>

        <p id ="commentid">  <%= link_to 'x', category_post_comment_path(@post.category.id , @post.id, c ) , method: :delete, data: { confirm: 'Are you sure?' } %>  <% end %> <% end %><%= c.user.email %>:- <%= c.comment_string %><p id="timestamp"><%= time_ago_in_words(c.created_at) %> ago</p></p>
    
    
     <% end %>      

      <%= render partial: "comments/form" , locals: {category: @post.category , post: @post} %>

     


  </div><br><br>

<font size ="5"><%= link_to 'New Post', new_category_post_path %></font> <br><br>

</font size = "5"><%= link_to 'Back', :back %></font>
</center>


</body>
</html>
  