<html>
<head>
  </head>
  <body>

<center>

 || <%= link_to "New Category", new_category_path  ,  {:style=>'color:#0000ff;'} %> ||
  <%#= link_to "Tags", tags_new_path(1) , {:style=>'color:#9932CC;'} %>


<br><br>
<font size = "15" ><%#= link_to 'New Post',  posts_new_path %> </font><br><br>

<%############################## Show Category wise ####################################%>


<h1>All Categories</h1>
  <table border="2" cellpadding="10" cellspacing="0" class="listing" summary="Post list" border=2>
  <thead>
    <tr>
      <th>Total Posts</th> 
      <th>Total Comments</th> 
      <th>Title</th> 
       <th>Tags</th> 
       <% if user_signed_in? %>
       <th>Edit</th>
       <th>Destroy</th>
       <% end %>
      
     
    </tr>
  </thead>
    <tr>

      <% @categories.each do |c| %>

      <td align="center">
            <%= c.posts.count(:category_id) rescue "" %>
     </td>

     <td align="center">
              <%total_comment = 0 %>
              <% @cpost = c.posts %>
              <% @cpost.each do |cp| %>

            <% total_c=cp.comments.count(:post_id) %>
            <% total_comment =total_comment + total_c  %>
            <% end %>
             <%= total_comment %>
     </td>




      <td align="center">
            <%=link_to c.title.capitalize , category_path(c.permalink) rescue ""  %>
     </td>

     <td>
        <% @cpost = c.posts %>
          <%  %>
         <%# @cpost.each do |post| %>

        <% @cpost.map(&:tags).flatten.map(&:tag_title).uniq.each do |t| %>
            <%#= post.tags.uniq.join(' , ')%>
              <% tagid = Tag.find_by_tag_title(t) %>
              <%= link_to t , category_tag_path(c.permalink , tagid.permalink) %> ,
          <% end %>
          <%# end %>
     </td>

      <% if user_signed_in? %>
      <% if c.user.id == current_user.id %>

     <td>
      <%= link_to 'Edit', edit_category_path(c) %>
     </td>

     <td>
     <%= link_to 'Destroy', c , method: :delete, data: { confirm: 'Are you sure?' } %>
     </td>
     <% else %>
     <td>
     </td>
      <td>
     </td>
     
      <% end %>

     <% end %>

    </tr>
    <% end %>
</table>







</center>
</body>
</html>

