<!DOCTYPE html>
<html>
<head>
  <title>MyBlogAssignment</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	<center><h1>Ruby on Rails Assignment -> BLOG</h1></center>
	</div>

	<div id="user_nav">

		<div id ="home">
		<font size= "20" ,color ="#F8F8FF"><%= link_to 'Home', categories_path , {:style=>'color:#F8F8FF;'} %> </font>
		</div>
		<div id ="usr" >
			
<% if user_signed_in? %>
 <font color = "blue" > <p id = "un" ><%= image_tag current_user.image(:thumb) , size: "30x25" %><%= current_user.fname.capitalize  %> <%= current_user.lname.capitalize  %>     </font> Not You?
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </p>
		</div>
<% else %>
<center>
<%= link_to "Sign UP", new_user_registration_path %> <br><br> or <br><br>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Sign In" , new_user_session_path %> <br><br> </center>
<%end%>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>

<%= yield %>
</div>

</body>
</html>
